Boolean

In [1]:
True

True

In [2]:
False

False

In [3]:
True == 0

False

In [4]:
True == '1'

False

In [5]:
True == 1

True

In [6]:
True == True

True

In [7]:
True == False

False

In [8]:
False == False

True

In [9]:
1>3

False

In [10]:
True == '1'

False

In [11]:
True == False

False

In [12]:
True != 0

True

In [13]:
False == 0

True

In [14]:
True or False

True

In [15]:
1 =='1'

False

In [16]:
eng = 'Korea COVID 19'
eng.lower()
eng.upper()

'KOREA COVID 19'

In [29]:
data=[]
data.append('java')

data[0],data[-1],data[1:],data[:2]

('java', 'java', [], ['java'])

In [19]:
a=data.sort()
b=data.reverse()
print(a)
print(b)

None
None

In [22]:
type(data)

list

In [23]:
data[0]

'java'

In [24]:
data

['java']

In [25]:
data.append('ha')

In [26]:
data

['java', 'ha']

('java', 'ha', ['ha'], ['java', 'ha'])

In [28]:
a=data.sort()
b=data.reverse()
print(a)
print(b)

None
None

In [30]:
b=(1,2,3,'사','오')
c=1,2,3
type(b),type(c)

(tuple, tuple)

In [31]:
b[3]=4

TypeError: 'tuple' object does not support item assignment

In [32]:
b[3:],b[1:4]

(('사', '오'), (2, 3, '사'))

In [35]:
dic = {'name1':'경민','학번1':20103,'name2':'경민2','학번2':20104}
dic.get('name1')

'경민'

In [36]:
dic.keys()

dict_keys(['name1', '학번1', 'name2', '학번2'])

In [37]:

dic.values()

dict_values(['경민', 20103, '경민2', 20104])

In [38]:
lunch= {'햄버거','치킨','라면','콜라',10000}
dinner={'피자','족발','라면','콜라',10000}
lunch&dinner

{10000, '라면', '콜라'}

In [39]:
dinner|lunch

{10000, '라면', '족발', '치킨', '콜라', '피자', '햄버거'}

In [40]:
import pandas as pd

In [46]:
pd.DataFrame()
a=[1,2,3]
a

[1, 2, 3]

In [47]:
pd.DataFrame(a)

   0
0  1
1  2
2  3

In [48]:
b=[4,5,6]

In [51]:
pd.DataFrame(data=dict(num=a,sum=b),index=None)

   num  sum
0    1    4
1    2    5
2    3    6

In [55]:
man=[
    {'num':1,'sum':4},
    {'num':2,'sum':5},
    {'num':3,'sum':6},
]

In [56]:
pd.DataFrame((man),index=None)

   num  sum
0    1    4
1    2    5
2    3    6

In [63]:
person={
    'name':['a','b','b','d'],
    '국어':[100,17,50,90],
    '영어':[80,60,40,80]
}
col_name=['name','국어','영어']
df=pd.DataFrame.from_records(person,columns=col_name,index=[1,2,3,4])

In [64]:
df[['국어','영어']]>70

      국어     영어
1   True   True
2  False  False
3  False  False
4   True   True

In [82]:
a={
    'Java':[90,100,80,70],
    'Python':[30,100,100,100],
    'C':[50,90,70,100],
    '합계':[170,290,250,270]
}
a_name=['Java','Python','C','합계']
df=pd.DataFrame.from_records(a,columns=a_name,index=[30102,30201,30303,30501])

In [83]:
df

       Java  Python    C   합계
30102    90      30   50  170
30201   100     100   90  290
30303    80     100   70  250
30501    70     100  100  270

In [79]:
a={
    'Java':[90,100,80,70,10],
    'Python':[30,100,100,100,10],
    'C':[50,90,70,100,10],
    '합계':[170,290,250,270,10]
}
a_name=['Java','Python','C','합계']
df=pd.DataFrame.from_records(a,columns=a_name,index=['1교시','2교시','3교시','4교시','5교시'])

In [81]:
df

     Java  Python    C   합계
1교시    90      30   50  170
2교시   100     100   90  290
3교시    80     100   70  250
4교시    70     100  100  270
5교시    10      10   10   10