<a href="https://colab.research.google.com/github/darkhork/Python/blob/master/2%EC%9D%BC%EC%B0%A8_2%EA%B5%90%EC%8B%9C_input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a = input('input your name >>')
a

input your name >>Jonh si na

'Jonh si na'

In [5]:
b= input('Your years old >>')
b

Your years old >>1111

'1111'

In [7]:
c = int(b)
c, type(c)

1111

In [12]:
year = int(input('출생년도>>'))
thisyear = 2020
print( thisyear - year,'살')

출생년도>>2002
18 살

In [13]:
s='a is {}'
s.format('apple')

'a is apple'

In [14]:
a = '%s %d 개 가격은 %.2f 달라'
b = a %('햄버거',2, 4.0*2)
print(a)
print(b)

%s %d 개 가격은 %.2f 달라
햄버거 2 개 가격은 8.00 달라

In [15]:
# 치킨 2마리가격 4만원
a = '%s %d마리 가격 %d원'
b = a %('치킨',2,20000*2)
print(b)

치킨 2마리 가격 40000원